html {
    margin: auto;
    padding: 8%;
}
body {
    background-color: black;
    color: white;
    font-family:'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    }

h1, p {
    font-size: 4vw;
    line-height: 150%;
    font-weight: normal;
    margin: 0 0 1em 0;
    letter-spacing: -0.01em;
    }

a {
    text-decoration: none;
    border-bottom: 2px solid;
    color: darkgray;
    }


/*Tablet */
@media only screen and (max-width: 991px) {
 
    h1, p {
    font-size: 4.8vw;
    }
    
/* Mobile - Landcape */
@media only screen and (max-width: 767px) {
     html {
    padding: 36px;
    }
    
    h1, p {
    font-size: 36px;
    }

/* Mobile - Portrait */
@media only screen and (max-width: 479px) {
    html {
    padding: 24px;
    }
    
    a {
    border-bottom: 1px solid;
    }
    
    h1, p {
    font-size: 24px;
    letter-spacing: 0;
    }   
}
